* {
    font-family: Arial;
}
body {
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display:flex;
    justify-content:center;
    height:120px;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}
.logo {
    display: flex;
    align-items: center;
}
.menu {
    align-items: center;
    display: flex;
}
nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding:0;
}
nav ul {
    display: flex;
}
nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform:uppercase;
    color:#727272;
}
nav a:hover {
    background-color:#39aae1;
    color:#fff;
}
#banner {
    justify-content: center;
    display: flex;
    background-image: url('./img/cruz.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
    
}
.column {
    flex-direction: column;
}
.banner_headline {
    flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.banner_headline h1 {
    color: #fff;
    font-size: 40px;
    text-shadow: 3px 1px 0px #555;
    margin: 0;
    padding: 0;
    max-width: 600px;
    margin-top: 50px;
    
}
.banner_headline h2 {
    color: #fff;
    font-size: 20px;
    text-shadow: 1px 1px 0px #555;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    max-width: 400px;
}
.banner_options {
    display: flex;
    height: 210px;
}
.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: #fff;
    padding: 20px;
}
.banner1 {
    background-color: #39aae1;
}
.banner2 {
    background-color: #0079c7
}
.banner3 {
    background-color: #2b4c99;
}
.banner_title {
    font-size: 21px;
}
.banner_desc {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.banner_options a {
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}
#geral {
    justify-content: center;
    display: flex;
}
#geral section {
    flex: 2;
}
#geral aside {
    flex: 1;
}
.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text {
    color: #000;
    font-size: 21px;
    font-weight: bold;
}
.widget_title_bar {
    height: 2px;
    width: 50px;
    background-color: #36a9e1;
    margin-top: 10px;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
article {
    flex:1;
    min-width: 300px;
    margin-right:20px;
}
article a {
    text-decoration: none;
}
article .news_data {
    display: flex;
}
article .news_posted_at {
    background-color: #2b4c99;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}
article .news_comments {
    background-color: #39aae1;
    color: #fff;
    font-size: 12px;
    padding: 10px;
}
article .news_thumbnail {
    margin-top: 30px;
}
article .news_thumbnail img {
    width: 100%;
    height: auto;
}
article .news_title {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000;
    font-size: 23px;
}
article .news_resume {
    font-size: 14px;
    color: #5c5c5c;
    line-height: 19px;
    margin-bottom: 30px;
}
footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}
.footer_menu {
    display: flex;
}
.fm_1, .fm_2, .fm_3 {
    flex: 1;
    color: #fff;
    padding: 20px;
}
.fm_1 {
    background-color: #39aae1;
}
.fm_2 {
    background-color: #0079c7
}
.fm_3 {
    background-color: #2b4c99;
}
.flexcolumn {
    flex-direction: column;
}
.footer_area {
    display: flex;
}
.footer_areaitem {
    color: white;
    flex: 1;
}
footer .widget_title_text {
    color: #fff;
}
.footer_copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}
.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}
.mm_line {
    height: 3px;
    background-color: #39aae1;
}
@media (max-width:600px) {

    .banner_headline {
        padding: 20px;
    }
    .banner_headline h1 {
        font-size: 38px;
    }
    .banner_headline h2 {
        font-size: 17px;
    }
    .banner_options {
        height:auto;
        flex-direction:column;
    }
    .container {
        flex-direction: column;
    }
    #geral section {
        padding: 20px;
    }
    #geral aside {
        padding: 20px;
    }
    .footer_menu {
        flex-direction: column;
    }
    .footer_area {
        flex-direction: column;
        padding: 20px;
    }
    .footer_copy {
        padding-left: 25px;
    }
    header .container {
        flex-direction: row;
    }
    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #fff;
    }
    header {
        height: auto;
    }
    .logo {
        padding-left: 20px;
    }
    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .widget_title_text {
        color: #000;
        font-size: 21px;
        font-weight: bold;
        margin-top: 167px;
    }
    
    

}
@media (max-width:375px) {
    .widget_title_text {
        color: #000;
        font-size: 21px;
        font-weight: bold;
        margin-top: 357px;
    } 
    .widget_body {
        max-height:1900px;
    }
    .container {
        
    }
}
@media (max-width:768px) {
    .banner_headline {
        padding: 18px;
    }
    .banner_headline h1 {
        font-size: 32px;
        padding-left: 20px;
    }
    .banner_headline h2 {
        font-size: 17px;
        padding-left: 20px;
    }
    .container {
        height: auto;
    }
    section .widget {
        height: auto;
        padding-left: 20px;
    }
    footer {
        padding-left: 20px;
    }
    footer .widget_body {
        font-size: 12px;
    }
    .banner_options {
        height:auto;
        flex-direction:column;
    }
}





















